/*Drawer css*/
.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background: #2374F8
}

.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-nav,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
    outline: 0
}

nav.drawer-nav {
    background: #2374F8;
}

nav.drawer-nav {
    background: #2374F8;
}

.mobile-logo {
    padding: 26px;
    text-align: center;
    background: #093783;
}

.mobile-logo a {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

nav.drawer-nav ul.main-menu-area li {
    display: block;
    text-align: left;
    border-top: 1px solid #2374F8;
}

nav.drawer-nav ul.main-menu-area li a {
    color: #fff;
    display: block;
    padding: 12px
}

nav.drawer-nav ul.main-menu-area li a.active {
    background: #fff;
    color: #2374F8
}

nav.drawer-nav ul.social-menu li a {
    font-size: 19px;
    padding: 7px;
}

nav.drawer-nav ul.social-menu {
    margin-top: 11px;
}

.mobile-menu-logo a.nav-link {
    padding: 0.5rem 0px
}

.mobile-menu-logo a > img {
    width: 59px;
    height: 43px;
}

.mobile-menu-area {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 999999999;
    border-bottom: 1px solid rgba(35, 116, 248, 0.34)
}


/* Extra small mobile device */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .headp-header-area-start {
        display: none
    }

    .mobile-menu-area {
        display: block
    }

    section {
        overflow: hidden
    }

    .bg-shape {
        height: 100%;
        border-radius: 0 0 0 349px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: none
    }

    section#home {
        height: auto;
        margin-top: 55px;
        padding-top: 31px;
        color: #fff
    }

    .headp-hero-text-area h1,
    .headp-full-feature-content h1,
    .headp-download-content h1 {
        font-size: 49px;
        line-height: 50px;
        margin: 8px 0 25px 0;
    }

    .headp-hero-text-area p {
        width: 100%
    }

    .headp-hero-text-area a.df-btn {
        padding: 12px 17px;
        background: #fff;
        color: #2374F8;
    }

    .headp-hero-image-area-start {
        margin-top: 0;
        height: auto;
    }

    .headp-hero-image-area-start .single-image {
        height: 282px;
        background-position: center !important;
    }

    .headp-product-content {
        margin: 0
    }

    .headp-product-slider-area .row .col-md-6:nth-child(4),
    .headp-newslater-area-start .row .col-md-6:last-child,
    .headp-product-count-area .row .col-md-6:last-child {
        margin-top: 25px;
    }

    ul.pagination li a {
        padding: 4px 12px;
        margin-right: 8px
    }

    .headp-contact-area-start form .row .col-md-6 {
        margin-bottom: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .headp-header-area-start {
        display: none
    }

    .mobile-menu-area {
        display: block
    }

    section {
        overflow: hidden
    }

    .bg-shape {
        height: 100%;
        border-radius: 0 0 0 349px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: none
    }

    section#home {
        height: auto;
        margin-top: 55px;
        padding-top: 31px;
        color: #fff
    }

    .drawer--right .drawer-hamburger {
        right: 120px;
    }

    .headp-hero-text-area h1,
    .headp-full-feature-content h1,
    .headp-download-content h1 {
        font-size: 49px;
        line-height: 50px;
        margin: 8px 0 25px 0;
    }

    .headp-hero-text-area p {
        width: 100%
    }

    .headp-hero-text-area a.df-btn {
        padding: 12px 17px;
        background: #fff;
        color: #2374F8;
    }

    .headp-hero-image-area-start .single-image {
        height: 282px;
        background-position: center !important;
    }

    .headp-product-content {
        margin: 0
    }

    .headp-hero-image-area-start {
        margin: 0
    }

    .headp-product-slider-area .row .col-md-6:nth-child(4),
    .headp-newslater-area-start .row .col-md-6:last-child,
    .headp-product-count-area .row .col-md-6:last-child {
        margin-top: 25px;
    }

    ul.pagination li a {
        padding: 4px 12px;
        margin-right: 8px
    }

    .headp-contact-area-start form .row .col-md-6 {
        margin-bottom: 15px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .headp-header-area-start {
        display: block
    }

    .mobile-menu-area {
        display: none
    }

    section {
        overflow: hidden
    }

    body {
        overflow-x: hidden
    }

    .bg-shape {
        height: 116%;
        border-radius: 280px 0 0 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: none
    }

    section#home {
        height: auto;
        margin-top: 55px;
        padding-top: 31px;
        color: #fff
    }

    header.headp-header-area-start {
        left: 0;
        top: 0
    }

    .headp-hero-image-area-start {
        height: auto
    }

    .headp-hero-image-area-start .single-image {
        height: 350px
    }

    .headp-hero-text-area h1,
    .headp-full-feature-content h1,
    .headp-download-content h1 {
        font-size: 49px;
        line-height: 49px
    }

    .headp-hero-text-area a.df-btn {
        background: #fff;
        color: #2374F8;
    }

    nav ul.headp-main-menu li a {
        padding: 10px
    }

    .headp-download-content a > img {
        width: 170px
    }

    .single-product-count .media-head i {
        font-size: 20px;
        width: 40px;
        height: 40px
    }

    .single-product-count .media-body p,
    .single-product-count .media-body p > span {
        font-size: 25px
    }

    .single-product-count .media-body h4 {
        font-size: 17px
    }

    .headp-single-contact-form .media-body span {
        font-size: 13px
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile-menu-area {
        display: none
    }

    .headp-header-area-start {
        display: block
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mobile-menu-area {
        display: none
    }

    .headp-header-area-start {
        display: block
    }
}
